body


header {

  overflow: hidden;
}

header img {
  width: 100%;
  height: auto;	
  display: block;
  margin: 0 auto;	
}


html {
  font-size: 22px;
}

.container {
  width: 100%;
  margin: 0 auto;
}
h2 {
    margin-top:0;
}
