body


header {

  overflow: hidden;
}

header img {
  width: 100%;
  height: auto;	
  display: block;
  margin: 0 auto;	
}




.container {
  width: 100%;
  margin: 0 auto;
}
h2 {
    margin-top:0;
}
