@charset "utf-8";
/* CSS Document */
body

#header
{
	height: 130px;
	background-image: url("hinh/st_logo.jpg");
	text-align: right;
}
#header div
{
	padding-top: 70px;
}
#header a
{
	text-decoration: none;
	color: #1a71a0;
}
#header a:hover
{
	color: blue;
}
#header input[type=text]
{
 	width: 200px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;
}

